body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #dfdfdf;
}

.back {
    background: linear-gradient(#dfdfdf55, #dfdfdf), url('../img/back.jpg');
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1100px;
}

header {
    width: 100%;
    padding-top: 2rem;
}

.menu-nav {
    width: 100%;
    margin: 0 auto;
    /*sinÔnimo de centralização do elemento*/
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

nav .menu {
    display: flex;
}

header .menu li a {
    padding: 5px 20px;
    color: black;
}

header .menu li a:hover {
    color: #207561;
}

.logo a {
    color: #207561;
}

.introdução {
    height: 500px;
    display: flex;
    line-height: 56px;
    /*Espaçamento entre as linhas de um texto*/
    margin-top: 2em;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.introdução h1 {
    color: #207561;
    font-size: 3em;
}

.introdução p {
    font-size: 1.5em;
}

.btnRadiusGreen {
    background-color: #207561;
    width: 100%;
    max-width: 120px;
    height: 40px;
    border-radius: 30px;
    margin-top: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#sobre {
    width: 100%;
    height: 500px;
    margin: 3.2em auto;
    padding: 1.5em 0;
}

#sobre .content {
    display: flex;
    align-items: center;
}

#sobre .content img {
    height: auto;
    max-width: 300px;
}

.titulo {
    font-size: 1.5em;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0 15px 1em;
    font-weight: bold;
    /*espessura*/
}

.titulo h2 {
    position: relative;
    height: 58px;
}

.titulo h2::after {
    content: "";
    height: 3px;
    background-color: #207561;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sobre .content p {
    text-align: justify;
    margin: 0 20px;
    line-height: 1.7em;
    color: #666666;
    font-size: 1rem;
}

#skills {
    width: 100%;
    height: 500px;
    margin: 3.2em auto;
    padding: 1.5em 0;
}

#skills .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px 20px;
    font-size: 1.2em;
    text-align: center;
    margin-top: 2%;
    width: 30%;
}

.card img {
    width: 48px;
    height: 48px;
}

.card p {
    margin-top: 5px;
}

